$font-main: 'Aleo', serif;
$font-extra: 'Josefin Sans', sans-serif;

.search {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    background-color: #333333;
    color: #fff;
}
.search__box{
    width: 99%;
    margin: 0 auto;
    text-align: center;
    svg {
        width: 60px;
        height: 60px;
        
        margin-bottom: 25px;
    
        &.svg1{
            fill: #5474fd;
            
        }
        &.svg2 {
            fill: #ff6363 ;
        }
        &.svg3 {
            fill:#00a2ff ;
        }
        &:hover{
            fill: rgb(20, 200, 100);
        }
    }
}
.search__item {
    display: inline-block;
    padding: 100px 7% 110px;
    
    span {
        display: block;
        font-size: 36px;
        font-family: $font-main;
        font-weight: 400;
        &:hover {
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            -webkit-text-decoration: underline rgb(20, 200, 100);
                    text-decoration: underline rgb(20, 200, 100);
            cursor: pointer;
        }
    }
    
}

@media screen and (max-width:1135px) {
    .search__box{
        svg {   
            width: 50px;
            height: 50px;
        }
    }
    .search__item {
        display: inline-block;
        padding: 60px 7% 70px;
        
        span {
            display: block;
            font-size: 25px;
            font-family: $font-main;
        }
        
    }

}