* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.header {
  width: 100%;
  min-height: 820px;
  background: url(../img/mountains.jpg) no-repeat center;
  background-size: cover;
  color: white;
  margin: 0 auto;
  position: relative; }

.header__title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  padding: 165px 0 15px; }

.header__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 53px;
  opacity: 0.9; }

.header__form {
  width: 100%;
  min-width: 200px;
  max-width: 655px;
  height: 65px;
  margin: 0 auto;
  margin-bottom: 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .header__form input {
    min-width: 200px;
    width: 76%;
    max-width: 501px;
    height: 60px;
    margin: 0;
    border: 2px solid #fff;
    text-align: center;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif; }

.btn-header {
  height: 60px;
  width: 150px;
  background-color: #5474fd;
  color: #fff;
  border: 2px solid #fff;
  font-family: "Aleo", serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 15px 0;
  transition: box-shadow .7s ease-out; }
  .btn-header:hover {
    cursor: pointer;
    box-shadow: inset 150px 0px #00ff99; }
  .btn-header__text {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 20px;
    letter-spacing: 1px; }
  .btn-header svg {
    fill: #fff;
    display: inline-block;
    vertical-align: middle; }

.header__scrldwn {
  display: block;
  margin: 0 auto;
  width: 110px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 10px;
  opacity: 0.8; }

.header__dwn {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  opacity: 0.8; }
  .header__dwn a {
    text-decoration: none;
    color: #fff; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #5474fd;
  margin-top: 200px;
  position: sticky;
  top: 0; }
  .navigation__logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    padding-top: 26px;
    padding-bottom: 27px;
    margin-left: 3%; }
  .navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    max-width: 470px;
    list-style-type: none;
    padding-left: 0; }
    .navigation ul li {
      padding: 30px 7px;
      transition: all .3s linear; }
      .navigation ul li:hover {
        transform: rotateZ(-6deg);
        cursor: pointer; }
  .navigation a {
    font-size: 14px;
    font-family: "Aleo", serif;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.3s linear; }
    .navigation a:hover {
      color: red; }

@media screen and (max-width: 700px) {
  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    background: #5474fd;
    margin-top: 200px;
    position: sticky;
    top: 0px; }
    .navigation ul {
      display: none;
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 100%;
      max-width: none;
      list-style: none;
      padding-left: 0; }
      .navigation ul li {
        width: 25%;
        text-align: center;
        transition: all .3s linear;
        background: #5474fd; }
        .navigation ul li:hover {
          transform: translateY(7px);
          box-shadow: 0 -7px #fff;
          cursor: pointer; }
        .navigation ul li a {
          font-size: 13px; }
    .navigation__logo {
      line-height: 24px; }
      .navigation__logo::after {
        content: "";
        display: inline-block;
        vertical-align: text-top;
        border-right: 20px solid red;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        margin-left: 10px;
        transition: .4s ease-in-out; }
      .navigation__logo:hover {
        cursor: pointer; }
      .navigation__logo:hover::after {
        transform: rotateZ(-90deg); }
      .navigation__logo:hover + ul {
        display: flex;
        position: absolute;
        top: 100%; } }

@media screen and (max-width: 375px) {
  .header__title {
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    margin: 0;
    padding: 165px 0 15px; }
  .header__subtitle {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 53px;
    opacity: 0.9; } }

.chooseUs {
  background: url(../img/eveningcity.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 690px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.chooseUs-flex {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.chooseUs__text {
  width: 541px;
  color: #fff;
  margin-top: 120px; }
  .chooseUs__text h2 {
    font-size: 36px;
    font-family: "Aleo", serif;
    font-weight: 400;
    margin-bottom: 60px; }
  .chooseUs__text p {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    opacity: 0.8;
    line-height: 26px;
    letter-spacing: 2px; }

.chooseUs__img {
  width: 100%;
  max-width: 540px;
  min-width: 280px;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.chooseUs__riverhouse {
  min-width: 280x;
  padding-bottom: 5px; }
  .chooseUs__riverhouse img {
    width: 100%; }

.chooseUs__smMountain {
  align-self: flex-end;
  min-width: 280px; }
  .chooseUs__smMountain img {
    width: 100%; }

.btn-main {
  width: 225px;
  height: 60px;
  margin: 50px 0;
  background: url(../img/buttongradient.png) no-repeat, url(../img/buttonbackground.png) no-repeat;
  color: #fff;
  font-size: 16px;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1px; }
  .btn-main:hover {
    cursor: pointer;
    box-shadow: inset 6px 5px 5px #333333; }

.search {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  background-color: #333333;
  color: #fff; }

.search__box {
  width: 99%;
  margin: 0 auto;
  text-align: center; }
  .search__box svg {
    width: 60px;
    height: 60px;
    margin-bottom: 25px; }
    .search__box svg.svg1 {
      fill: #5474fd; }
    .search__box svg.svg2 {
      fill: #ff6363; }
    .search__box svg.svg3 {
      fill: #00a2ff; }
    .search__box svg:hover {
      fill: #14c864; }

.search__item {
  display: inline-block;
  padding: 100px 7% 110px; }
  .search__item span {
    display: block;
    font-size: 36px;
    font-family: "Aleo", serif;
    font-weight: 400; }
    .search__item span:hover {
      transition: all .3s linear;
      text-decoration: underline #14c864;
      cursor: pointer; }

@media screen and (max-width: 1135px) {
  .search__box svg {
    width: 50px;
    height: 50px; }
  .search__item {
    display: inline-block;
    padding: 60px 7% 70px; }
    .search__item span {
      display: block;
      font-size: 25px;
      font-family: "Aleo", serif; } }

.spain {
  width: 100%;
  color: #fff;
  margin: 0 auto; }

.spain__top {
  min-height: 700px;
  background: url(../img/modernhouse.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  padding-top: 1px;
  position: relative; }
  .spain__top .spain__block {
    margin-left: 16%;
    margin-top: 14%; }

.spain__bottom {
  position: relative;
  min-height: 700px;
  background: url(../img/cliffs.jpg) no-repeat center;
  background-size: cover;
  width: 100%; }
  .spain__bottom .spain__block {
    position: absolute;
    top: 230px;
    right: 236px; }

.spain__block {
  background-color: rgba(29, 29, 29, 0.85);
  width: 90%;
  max-width: 540px;
  min-width: 280px;
  height: 370px;
  padding-left: 30px; }
  .spain__block .title, .spain__block .spain__subtitle, .spain__block .spain__text {
    display: block;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    opacity: 0.9;
    padding-top: 50px; }
  .spain__block .spain__subtitle {
    padding-top: 31px;
    text-transform: uppercase; }
  .spain__block .spain__text {
    font-size: 16px;
    padding-top: 31px; }

@media screen and (max-width: 1135px) {
  .spain__top .spain__block {
    margin-left: 10%;
    margin-top: 9%; }
  .spain__bottom .spain__block {
    top: 130px;
    right: 136px; } }

@media screen and (max-width: 755px) {
  .spain__top .spain__block {
    position: static;
    margin: 100px auto;
    padding-right: 5px; }
  .spain__bottom {
    padding-top: 1px; }
    .spain__bottom .spain__block {
      position: static;
      margin: 100px auto; }
  .spain__block {
    padding-left: 20px; }
    .spain__block .title, .spain__block .spain__subtitle, .spain__block .spain__text {
      display: block;
      font-size: 18px;
      font-family: "Josefin Sans", sans-serif;
      padding-top: 40px; }
    .spain__block .spain__subtitle {
      display: block;
      font-size: 18px;
      font-family: "Josefin Sans", sans-serif;
      padding-top: 31px;
      text-transform: uppercase; }
    .spain__block .spain__text {
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      padding-top: 31px; } }

.tourist {
  background: url(../img/man.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 730px;
  color: #fff;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .tourist__title {
    text-transform: capitalize;
    font-size: 36px;
    font-family: "Aleo", serif;
    font-weight: 400;
    text-align: center;
    padding: 120px 0 95px;
    position: relative;
    left: 100%;
    transition: all .5s linear; }
  .tourist::before {
    content: "";
    background-color: rgba(51, 51, 51, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

.tourist__box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -150%;
  transition: all .5s linear .4s; }

.tourist__smMan {
  width: 445px;
  height: 285px;
  background: url(../img/smMan.jpg) no-repeat center;
  background-size: cover; }
  .tourist__smMan img {
    width: 100%; }

.tourist__textblock {
  display: block;
  width: 665px;
  min-height: 285px;
  background-color: #333333; }

.tourist__subtitle {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding: 50px 0 45px 60px; }

.tourist__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.9;
  line-height: 26px;
  padding: 0 45px 0 60px; }
  .tourist__text .quote {
    color: #5474fd;
    margin-top: -16px;
    margin-right: 5px;
    display: block;
    width: 17px;
    height: 17px;
    float: left; }

.tourist:hover > .tourist__box, .tourist:hover > .tourist__title {
  left: 0%; }

.tourist:hover .tourist::after {
  display: block; }

@media screen and (max-width: 1135px) {
  .tourist__box {
    flex-direction: column;
    margin: 0 auto;
    width: 80%; }
  .tourist__smMan {
    width: 100%;
    max-width: 445px;
    min-width: 250px; }
  .tourist__textblock {
    width: 100%;
    max-width: 445px;
    min-width: 250px;
    margin-bottom: 50px; }
  .tourist__subtitle {
    padding-top: 25px;
    padding-left: 35px; }
  .tourist__text {
    width: 100%;
    max-width: 420px;
    font-size: 14px;
    padding-bottom: 30px;
    padding-left: 35px; }
  .tourist__title {
    padding: 60px 0px; } }

footer {
  min-height: 270px;
  width: 100%;
  background-color: #232323;
  color: #fff;
  margin: 0 auto; }
  footer h2 {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-top: 120px;
    text-transform: uppercase; }
  footer h3 {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 15px 0px 28px;
    opacity: 0.9; }

.footer__contact {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  .footer__contact a {
    display: inline-block;
    text-decoration: none;
    padding: 0 11px; }
  .footer__contact i {
    font-size: 21px;
    padding-bottom: 50px;
    color: #fff; }
    .footer__contact i:hover {
      color: #5474fd; }

/*# sourceMappingURL=main.css.map */
